<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ConecTEA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: var(--light-blue-bg);
        }
        .login-card {
            max-width: 450px;
            width: 100%;
            padding: 40px;
            border-radius: 15px;
            background-color: var(--white);
            box-shadow: 0 10px 30px var(--shadow-hover);
        }
    </style>
</head>
<body>
    <div class="login-card">
        <h2 class="text-center mb-4">Acessar ConecTEA</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nome de Usuário</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Senha</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'cadastro' %}">Ainda não tem uma conta? Cadastre-se</a>
        </div>
        <div class="text-center mt-2">
            <a href="{% url 'index' %}">Voltar para a página inicial</a>
        </div>
    </div>
</body>
</html>